@import 'src/styles/colors';

.kanban-board-toolbar {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;

  &__image {
    width: 100%;
    height:60%;
  }

  &__actions{
    padding: 2rem;
    margin: 2rem 0;
    width: calc(100% - 8rem);
    position: absolute;
    background-color: $color-dark;
    top: 40%;
    box-shadow: 0 0 5px 1px $color-blue-dark;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__header {
    color: $color-light;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}
