@import 'src/styles/colors';

.nav-top {
  background-color: $color-dark;
  width: 100vw;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 200px 300px  3fr 150px  1fr;
  grid-template-rows: 50px;
  grid-template-areas: 'leftSpace logo navi conterSpace userManage rightSpace';
  z-index: 10;
  position: relative;
  box-shadow: 0 0 5px 1px $color-blue-dark;


  &__logo{
    grid-area: logo;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__navigation {
    grid-area: navi;
    display: flex;
    align-items: center;
  }
}