@import 'src/styles/colors';

.account-section{
  height: 30px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-self: flex-end;
  padding: 5px;
  background-color: #232627;
  grid-area: userManage;
  border-radius: 5px;
  position: relative;
  margin-top: calc((4rem - 50px) / 2);

  &__header{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 4px;
    left: 8px;
    z-index: 2 !important;

    &-icon{
      width: 30px;
      border-radius: 25px;
      color: #e2f0f5;
      pointer-events: none;
      z-index: 3;
    }

    &-text{
      padding: 5px;
      color: #e2f0f5;
      pointer-events: none;
      font-size: 14px;
      z-index: 20;
    }

    &--actions {
      transform: translateX(0);;
      opacity: 0;
      cursor: pointer;
      transition-duration: 0.3s;
      pointer-events: none !important;
  
      &:hover{
        box-shadow: 0 0 2px 1px #add8ee;
        transition-duration: 0.3s;
      }
    }
  }
}