@import 'src/styles/colors';

.modal-input-text,
.modal-input-email,
.modal-input-password{
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center !important;

  .modal-input-text__label,
  .modal-input-email__label,
  .modal-input-password__label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid $color-light;
    margin: 10px 0;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid $color-blue;
      left: 0px;
      bottom: -1px;
      transform: translateX(-100%);
      transition-duration: 0.5s;
    }

    .modal-input-text__label--name,
    .modal-input-email__label--name,
    .modal-input-password__label--name{
      position: absolute;
      bottom: 5px;
      left: 0px;
      transition: all 0.3s ease;
      color: $color-light;
    }
  }

  .modal-input-text__field,
  .modal-input-email__field,
  .modal-input-password__field{
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #44a8e1;
    padding-top: 5px;
    border: none;
    font-size: 16px;

    &:focus + .modal-input-text__label .modal-input-text__label--name,
    &:valid + .modal-input-text__label .modal-input-text__label--name,
    &:focus + .modal-input-email__label .modal-input-email__label--name,
    &:valid + .modal-input-email__label .modal-input-email__label--name,
    &:focus + .modal-input-password__label .modal-input-password__label--name,
    &:valid + .modal-input-password__label .modal-input-password__label--name{
      transform: translateY(-150%);
      font-size: 14px;
      color: $color-blue;
    }
    &:focus{
      outline: none;
    }
    &:focus + .modal-input-text__label::after,
    &:valid + .modal-input-text__label::after,
    &:focus + .modal-input-email__label::after,
    &:valid + .modal-input-email__label::after,
    &:focus + .modal-input-password__label::after,
    &:valid + .modal-input-password__label::after{
        transform: translateX(0%);
    }
  }
}
.modal-input-textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;

    &__field{
        background-color: $color-dark;
        color: $color-light;
        border: 1px solid $color-light;
        width: 100%;
        transition-duration: .3s;
        height: 100%;
        resize: none;
        overflow-y: scroll;
        border-radius: 5px;
        
        &:focus {
            outline: none;
            border: 2px solid $color-blue;
            transition-duration: .3s;
        }
    }
}