@import 'src/styles/colors';

.organizations-elem {
  padding: 20px;
  border: 1px solid $color-blue;
  border-radius: 5px;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 0 5px 1px $color-blue;
    transition-duration: 0.3s;
  }
  .organizations-elem__info {
    display: flex;
    &-logo {
      height: 40px;
      width: 40px;
      margin-right: 10px;
      border-radius: 10px;
    }
    &-header {
      font-weight: 400;
    }
  }
  
  .organizations-elem__actions {
    &-add-member,
    &-show-members,
    &-show-teams {
      background-color: rgba($color: $color-light, $alpha: 0.15);
      border-radius: 5px;
      margin: 0 5px;
      padding: 5px;
      
      &:hover {
        background-color: rgba($color: $color-light, $alpha: 0.25);
      }
    }
  }
}
