@import 'src/styles/colors';

.registration-panel{
  background-color: $color-dark;
  min-width: 400px;
  width: 400px;
  height: 450px;
  min-height: 250px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px $color-blue-dark;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  top: 50px;
  overflow: hidden;
  padding: 10px 30px;

  &__header{
    color: $color-light;
    text-align: center;
    line-height: 50px;
    width: 100%;
  }
  &__actions{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .close-panel{
    color: $color-light;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
