@import 'src/styles/colors';

.task-description {
  width: 100%;
  height: calc(100% - 100px);
  background-color: rgba($color: $color-dark, $alpha: 0.3);
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  &__modal {
    width: calc(100% - 8rem);
    padding: 2rem;
    margin: 0 2rem;
    max-height: 30rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px $color-blue-dark;
    background-color: $color-dark;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-header {
      color: $color-light;
      font-weight: 400;
      font-size: 1.6rem;
    }

    &-text {
      font-size: 1.4rem;
      font-weight: 300;
      color: $color-light;
      margin: 2rem 0;
      overflow-x: scroll;
    }
  }
}