@import 'src/styles/colors';

.invalid-user-data__overlay {
  width: 100vw;
  height: calc(100vh - 100px);
  position: fixed;
  background-color: rgba($color: $color-dark, $alpha: 0.3);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid-user-data__modal {
  margin: 0 2rem;
  padding: 2rem;
  width: calc(100% - 4rem);
  background-color: $color-dark;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px $color-blue-dark;
  color: $color-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-header {
    font-weight: 300;
    margin: 1rem;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
  }
}
