@import 'src/styles/colors';

.kanban{
  width: calc(100vw - 100px);
  background-color: $color-dark;
  min-height: calc(100vh - 50px);
  padding: 5px 50px;
  display: flex;
  flex-wrap: wrap;

  &-board{
    max-width: 65vw;
    height: 100vh;
    display: flex;
    padding-bottom: 2px ;
    overflow-x: scroll;
    margin: 0 0 0 10px;
    overflow-y:hidden;
  }
}