@import './Colors.scss';

.btn{
    padding: 5px 15px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    margin: 5px;
    transition-duration: 0.3s;
    color: $color-dark;
    background-color: $color-blue-light;
    transition-duration: .3s;

    &.primary {
        background-color: $color-blue-dark;
        color: $color-light;

        &:hover{
            background-color: $color-blue-dark + #111111;
            color: $color-light + #111111;
            transition-duration: 0.3s;
        }
    }

    &.secondary{
        background-color: $color-red;
        color: $color-light;
        &:hover{
            background-color: $color-red + #111111;
            color: $color-light + #111111;
            transition-duration: .3s;
        }
    }
    &.dark{
        background-color: $color-dark;
        color: $color-light;
        border: 1px solid $color-blue-dark;
        &:hover {
            background-color: $color-dark + #111111;
            color: $color-light + #111111;
            border: 1px solid $color-blue-dark + #111111;
            transition-duration: .3s;
        }
    }
}